.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  position: fixed;
  z-index: 1;
  background-color: white;
  width: 100%;
}

.nav-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20px;
}

.nav-left-anchor {
  text-decoration: none;
  margin-right: 30px;
  color: black;
}

.nav-right-book-now-container {
  height: 35px;
  width: 140px;
  background-color: #af0202;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.nav-right-book-now {
  font-size: 13px;
  text-decoration: none;
  color: white;
}
